configuration {
    font: "NotoSans Nerd Font 13";
    display-ssh:    "";
    display-run:    "";
    display-drun:   " ";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

@theme "~/.config/rofi/gruvbox-material.rasi"
